cffi==2.0.0 ; python_full_version >= "3.13.5" and python_version < "4.0" and platform_python_implementation != "PyPy"
cryptography==46.0.3 ; python_full_version >= "3.13.5" and python_version < "4.0"
gmpy2==2.2.2 ; python_full_version >= "3.13.5" and python_version < "4.0"
numpy==2.4.1 ; python_full_version >= "3.13.5" and python_version < "4.0"
pycparser==2.23 ; python_full_version >= "3.13.5" and python_version < "4.0" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
scipy==1.17.0 ; python_full_version >= "3.13.5" and python_version < "4.0"
zstandard==0.25.0 ; python_full_version >= "3.13.5" and python_version < "4.0"
