cffi==1.17.1 ; python_full_version >= "3.13.5" and platform_python_implementation != "PyPy"
cryptography==45.0.6 ; python_full_version >= "3.13.5"
pycparser==2.22 ; python_full_version >= "3.13.5" and platform_python_implementation != "PyPy"
