cffi==2.0.0 ; python_full_version >= "3.13.5" and platform_python_implementation != "PyPy"
cryptography==46.0.3 ; python_full_version >= "3.13.5"
gmpy2==2.2.2 ; python_full_version >= "3.13.5"
numpy==2.4.1 ; python_full_version >= "3.13.5"
pycparser==2.23 ; platform_python_implementation != "PyPy" and implementation_name != "PyPy" and python_full_version >= "3.13.5"
scipy==1.16.3 ; python_full_version >= "3.13.5"
zstandard==0.25.0 ; python_full_version >= "3.13.5"
